<section class="card">
  <a href="/painting/{{id}}">
    <header class="header-2">{{title}}</header>

    <div class="card-body">
   <img src="/images/{{filename}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>