<section class="card">
  <a href="/surveys/{{id}}">
    <header class="header-2">{{name}}</header>
  </a>

  <img src="{{profilePic}}" alt="Profile Picture">
    <header class="header-2">Age: {{ageRange}}</header>
</section>
