<div class="container">
  <div class="row">
    <!-- Welcome section -->
    <div class="col text-center">
      <h2>Welcome {{user.username}}</h2>
      <!-- Add a line break if needed -->
    </div>
  </div>
</div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Roommate Survey:</h3>

      <div class="form-group">
        <label for="First-Last">First and Last name:</label>
        <textarea class="form-input" id="First-Last" name="First-Last"></textarea>
      </div>

<div class="form-group">
        <label for="age-range">Age:</label>
        <textarea class="form-input" id="age-range" name="age-range"></textarea>
      </div>


<div class="form-group">
        <label for="bio">Bio:</label>
        <textarea class="form-input" id="bio" name="bio"></textarea>
      </div>

    <form class="form roommate-survey">
      <div class="form-group">
        <label for="temperature">Temperature Preference:</label>
        <select class="form-select" id="temperature" name="temperature">
          <option value="65-below">65 and below</option>
          <option value="65-70">65-70</option>
          <option value="70-75">70-75</option>
          <option value="75-80">75-80</option>
          <option value="80-plus">80+</option>
        </select>
      </div>
      <div class="form-group">
        <label for="pets">Pets:</label>
        <select class="form-select" id="pets" name="pets">
          <option value="Has pets, open to living with others">Has pets, open to living with others</option>
          <option value="Has pets, but can't live with other animals">Has pets, but can't live with other animals</option>
          <option value="No pets, open to living with others">No pets, open to living with others</option>
          <option value="No pets, not open to living with pets">No pets, not open to living with pets</option>
          <option value="Allergic to cats/dogs">Allergic to cats/dogs</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sleep-wake-hours">Sleep/Wake Hours:</label>
        <select class="form-select" id="sleep-wake-hours" name="sleep-wake-hours">
          <option value="Morning person">Morning person</option>
          <option value="I don't get up till around 10am">I don't get up till around 10am</option>
          <option value="I wake up at 12pm because I go to sleep around 3am">I wake up at 12pm because I go to sleep around 3am</option>
          <option value="I like late nights but still get up early">I like late nights but still get up early</option>
          <option value="I never sleep">I never sleep</option>
        </select>
      </div>
      <div class="form-group">
        <label for="parties">Parties?</label>
        <select class="form-select" id="parties" name="parties">
          <option value="No parties">No parties</option>
          <option value="Maybe once a month a friend will stop by">Maybe once a month a friend will stop by</option>
          <option value="About once a week">About once a week</option>
          <option value="Family and friends stop by often">Family and friends stop by often</option>
          <option value="Very social, all my friends have a key">Very social, all my friends have a key</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cleanliness-level">Cleanliness Level:</label>
        <select class="form-select" id="cleanliness-level" name="cleanliness-level">
          <option value="I clean once a week">I clean once a week</option>
          <option value="Fairly clean, occasionally messy">Fairly clean, occasionally messy</option>
          <option value="Neat freak">Neat freak</option>
        </select>
      </div>
      <div class="form-group">
        <label for="move-in-date">Move-in Date:</label>
        <select class="form-select" id="move-in-date" name="move-in-date">
          <option value="Immediately">Immediately</option>
          <option value="Within the month">Within the month</option>
          <option value="Next two-three months">Next two-three months</option>
          <option value="Sometime after three or more months">Sometime after three or more months</option>
        </select>
      </div>
      <div class="form-group">
        <label for="relationship-status">Relationship Status:</label>
        <select class="form-select" id="relationship-status" name="relationship-status">
          <option value="Okay with roommate having a partner">Okay with roommate having a partner</option>
          <option value="Prefer roommate not having a partner">Prefer roommate not having a partner</option>
          <option value="Do not want roommate having their own partner">Do not want roommate having their own partner</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sharing-items">Okay with sharing items?</label>
        <select class="form-select" id="sharing-items" name="sharing-items">
          <option value="Whatever is mine is yours!">Whatever is mine is yours!</option>
          <option value="I would prefer if you ask">I would prefer if you ask</option>
          <option value="You do not touch my DARN stuff">You do not touch my DARN stuff</option>
        </select>
      </div>
      <div class="form-group">
        <label for="living-style">Getting to Know Each Other</label>
        <select class="form-select" id="living-style" name="living-style">
          <option value="Yes, I would love that">Yes, I would love that</option>
          <option value="We can occasionally talk">We can occasionally talk</option>
          <option value="We will be friendly">We will be friendly</option>
          <option value="jWe just live together and that’s it">We just live together and that’s it</option>
        </select>
      </div>
      <div class="form-group">
        <label for="drinking-habits">Do you drink? How often?</label>
        <select class="form-select" id="drinking-habits" name="drinking-habits">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
          <option value="Rarely">Rarely</option>
          <option value="Occasionally">Occasionally</option>
          <option value="All the time">All the time</option>
          <option value="Would prefer if my roommate doesn’t drink">Would prefer if my roommate doesn’t drink</option>
          <option value="I don’t care if my roommate drinks">I don’t care if my roommate drinks</option>
        </select>
      </div>
      <div class="form-group">
        <label for="smoking-habits">Do you smoke?</label>
        <select class="form-select" id="smoking-habits" name="smoking-habits">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
          <option value="Would prefer if my roommate does not smoke">Would prefer if my roommate does not smoke</option>
          <option value="Don’t care if my roommate smokes">Don’t care if my roommate smokes</option>
          <option value="Rarely">Rarely</option>
          <option value="Occasionally">Occasionally</option>
          <option value="Every dayyyyyyyyy">Every dayyyyyyyyy</option>
        </select>
      </div>
      <div class="form-group">
        <label for="decoration-style">Decoration Style:</label>
        <select class="form-select" id="decoration-style" name="decoration-style">
          <option value="Nothing in common area">Nothing in common area</option>
          <option value="Neutral colors">Neutral colors</option>
          <option value="Bright colors (like hot pink bruh)">Bright colors (like hot pink bruh)</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cleaning-tasks">How do you like to separate the cleaning tasks:</label>
        <select class="form-select" id="cleaning-tasks" name="cleaning-tasks">
          <option value="I’ll clean my stuff, you clean yours">I’ll clean my stuff, you clean yours</option>
          <option value="50/50 on cleaning, no matter whose mess">50/50 on cleaning, no matter whose mess</option>
        </select>
      </div>
      <div class="form-group">
        <label for="bathroom">Do you need to have your own bathroom?</label>
        <select class="form-select" id="bathroom" name="bathroom">
          <option value="Absolutely">Absolutely</option>
          <option value="Yes, but I can share if I have to">Yes, but I can share if I have to</option>
          <option value="I don't care if I have to share">I don't care if I have to share</option>
        </select>
      <div class="form-group">
        <label for="pet-peeves">Pet Peeves--leave blank if you do not have any notable pet peeves:</label>
        <textarea class="form-input" id="pet-peeves" name="pet-peeves"></textarea>
      </div>
      <div class="form-group">
        <label for="time-spent-in-apartment">Time spent in apartment:</label>
        <select class="form-select" id="time-spent-in-apartment" name="time-spent-in-apartment">
          <option value="Basically 24/7">Basically 24/7</option>
          <option value="Going out on weekends">Going out on weekends</option>
          <option value="Rarely go out">Rarely go out</option>
          <option value="Go out 3-5 times a week">Go out 3-5 times a week</option>
          <option value="Never in the apartment">Never in the apartment</option>
        </select>
      </div>
      <div class="form-group">
        <label for="political-status">What's your political status?</label>
        <select class="form-select" id="political-status" name="political-status">
          <option value="Far left">Far left</option>
          <option value="Left">Left</option>
          <option value="Moderate">Moderate</option>
          <option value="Right">Right</option>
          <option value="Far right">Far right</option>
        </select>

{{!-- <label for="file-input">Upload your profile picture:</label>
        <input type="file" name="file" id="file-input" accept="image/*" required> --}}
<label for="upload_widget">Upload your profile picture:</label>
<button id="upload_widget" class="cloudinary-button">Upload files</button>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
  var myWidget = cloudinary.createUploadWidget(
    {
      cloudName: 'dyjuhnsa0',
      uploadPreset: 'ml_default',
      folder: 'widgetUpload',
      cropping: false,  // Enable cropping
      croppingAspectRatio: 1,  // Set the aspect ratio (width/height) for cropping
    },
    (error, result) => {
      if (!error && result && result.event === "success") {
        console.log('Done! Here is the image info: ', result.info.url);
        handleCloudinaryUpload(result.info.url);
      }
    }
  );
document.getElementById("upload_widget").addEventListener("click", function (e) {
  e.preventDefault();  // If necessary
  myWidget.open();
}, { passive: false });
</script>

{{!-- <button id="upload_widget" class="cloudinary-button">Upload files</button>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dyjuhnsa0',
  uploadPreset: 'ml_default'
}, (error, result) => {
  if (error) {
    console.error('Upload Error:', error);
  } else if (result && result.event === "success") {
    console.log('Done! Here is the image info:', result.info);
  }
});
document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script> --}}



      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Survey</button>
      </div>
    </form>
  </div>
</div>
</div>
<script src="./js/survey.js"></script> 
