.roommate-survey {
    margin-top: 20px;
}

.col-md-6 {
    margin: 0 auto;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;

}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.btn-primary {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.form-range {
    width: calc(100% - 10px);
    margin-right: 10px;
}

#age-range-value,
#preferred-age-range-value {
    font-weight: bold;
    color: #3498db;
}

#age-range,
#preferred-age-range {
    display: block;
    margin: 0 auto;
}

label[for="file-input"] {
    display: block;
    margin-top: 15px;
    color: #333;
}

#file-input {
    display: block;
    margin-top: 5px;
}

.form-select {
    width: 200%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input {
    width: 150%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: small;
}

.form-group label {
    color: #555;
}

.form-select option {
    background-color: #fff;
    color: #333;
}


#pet-peeves {
    width: 150%;
    font-size: small;
  }
  
/* /PROFILE PAGE */

.questions{
  font-family: 'Roboto';
  padding-top: 5px;
  text-decoration: underline; 
}

.answer{
    font-family: 'Roboto';
    font-weight: bold;
    color: #353333;
    padding: 5px;
}


.profile-image{
padding: 10px;
width: 500px; /* Set your desired width */
height: 350px; 
object-fit: contain;
}

.gallery .card img {
    height: 200px; /* Set a fixed height */
    width: 100%; /* Allow width to adjust proportionally */
    object-fit: contain; /* Ensure the image covers the container without distortion */
  }

